@import '../main.css';

body {
  height: 100vh;
}

.navbar {
  height: 8vh;
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: flex-end ;
  padding: 0 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.navbar ul {
  display: flex;
  align-items: center;
  gap: 15px;
}

.navbar ul li:hover {
  cursor: pointer;
}

main {
  height: 92vh;
  padding: 20px;
}

