@import '../main.css';

main {
  height: 100vh;
  display: flex;
  justify-content: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-form form img {
  width: 100px;
}

.login-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
  gap: 8px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  width: 45vh;
}

.login-form form input {
  width: 100%;
  padding: 10px;
  background-color: #f3f4f6;
  outline: none;
  border: 1px solid #f3f4f6;
}

.login-form form span {
  padding: 10px 0;
}

.login-form form label {
  font-size: 10px;
}

.login-form form a {
  color: #2563eb;
}

.login-form button {
  width: 100%;
  background-color: #1c1917;
  color: #fff;
  padding: 12px 20px;
  border: 0;
  transition: all 0.2s ease-out;
  margin-top: 10px;
}

.login-form button:hover {
  opacity: .9;
  cursor: pointer;
}
